doctype html
html
  head
    title= title
    meta(charset="utf-8")
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='/stylesheets/ggraph.css')
    link(rel="stylesheet" href="/src/ggraph.css")
    script(src="https://d3js.org/d3.v4.min.js")
    script(src="src/marker/marker.js")

    script(src="/ext/simmelian.js")
    script(src="/ext/singles.js")

    script(src="/src/algorithms/ladjust.js")
    script(src="/src/algorithms/makecluster.js")

    script(src="/src/modules/labels.js")
    script(src="/src/modules/groups.js")
    script(src="/src/modules/nodes.js")
    script(src="/src/modules/selection.js")

    script(src="/src/modules/member_lines.js")

    script(src="/src/modify/merger.js")
    script(src="/src/modify/splitter.js")
    script(src="/src/modify/remover.js")

    script(src="/src/ggraph.js")
  body
    block content
  block content2 